<div class="card h-60 shadow-sm mb-4">
  <div class="image" style="cursor: pointer">
    <img
      src="{{ product.imageThumb }}"
      alt="{{ product.name }}"
      class="img-fluid bg-info"
    />
  </div>
  <i class="heart-icon fa fa-heart fa-1x mr-5" aria-hidden="true"></i>
  <span class="discount"> {{ product.discount }}</span>
</div>
<div class="d-flex flex-column align-items-center">
  <h6>{{ product.name }}</h6>
  <div>{{ product.description }}</div>
  <div>
    <span style="color: darkgrey" class="mr-2"
      ><del>{{ product.oldPrice }}</del></span
    >
    <span style="font-weight: bold">{{ product.price }}</span>
  </div>
</div>
<!-- heart -->
