.heart-icon {
  position: relative;
  bottom: 306px;
  left: 228px;
  color: darkgrey;
}

.discount {
  position: relative;
  background-color: red;
  width: min-content;
  bottom: 319px;
  left: 5px;
  color: white;
}
