<div
  class="btn-group"
  dropdown
  style="position: absolute; right: 207px; float: right"
>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-primary dropdown-toggle"
    aria-controls="dropdown-basic"
  >
    Button dropdown <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <div *ngFor="let color of colors">
      <li role="menuitem">
        <a class="dropdown-item" (click)="filterColor(color)">{{
          color | titlecase
        }}</a>
      </li>
    </div>
  </ul>
</div>

<div class="container">
  <tabset #staticTabs>
    <tab heading="New Arrivals" (selectTab)="selectTab(1)">
      <app-product-list [products]="newArrivals"></app-product-list>
    </tab>
    <tab heading="Best Seller" (selectTab)="selectTab(2)">
      <app-product-list [products]="bestSellers"></app-product-list>
    </tab>
    <tab heading="Most view" (selectTab)="selectTab(3)">
      <app-product-list [products]="mostViews"></app-product-list>
    </tab>
  </tabset>
</div>
