<div class="container">
  <div
    class="px-16 text-uppercase font-weight-bold"
    style="padding: 1.2em; text-align: center"
  >
    About Archiproducts
  </div>

  <div class="about">
    Archiproducts.com is the largest "permanent virtual exhibition" of
    architecture and design, an international platform, created in 2009 from the
    Edilportale and Archiportale Products Directory. With more than 155,000
    products, 3.500 brands, 2.500 designers, Archiproducts is the reference
    platform for all the portals of the network for the publication of the
    product catalogues and for product tagging in the projects on Archilovers:
    not only product catalogues, but also products set in the projects. A
    continually expanding database translated into 11 languages, with enhanced
    research, filters by category, by manufacturer, by designer and dealer. A
    world of international brands, designers, trade shows, news and events.
    Archiproducts is also a free App, which contains thousands of products,
    brands and designers always at your disposal on all mobile devices.
  </div>
</div>
