.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}

.fotogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260 px, 1fr));
  grid-gap: 1em;
}

.tile {
  position: relative;
  width: 20%;
  border: 1px solid black;
  display: grid; /* an inner grid */
}

.tile a {
  grid-row: 4; /* place in first row */
  grid-column: 1; /* place in first column */
}

.tile img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.tile h4 {
  margin: 0;
  background-color: #000;
  padding: 10px 14px;
  opacity: 0.8;
  grid-row: 1; /* place in first row */
  grid-column: 1; /* place in first column */
  align-self: flex-start; /* take auto-width */
}

.tile:hover {
  border: 1px solid #0066ff;
  opacity: 0.55;
}
