<div class="row">
  <div class="col-3 mb-4" *ngFor="let product of products">
    <app-product-item [product]="product"></app-product-item>
  </div>
  <div *ngIf="products.length === 0">
    <div style="margin: 100px">No Data for this field</div>
  </div>
</div>
