<h1>archiproducts</h1> 
<carousel>
    <slide>
      <img
        src="assets/images/carousel/carousel-01.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/carousel/carousel-02.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/carousel/carousel-03.jpg"
        alt="third slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>